a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
}

.logo {
    font: 500 48px/60px futura-pt, sans-serif;
}

.text {
    font: 500 22px/30px futura-pt, sans-serif;
}

.text.underline {
    border-bottom: 1px solid black;
    height: 27px;
}

h1 {
    font: 500 85px/90px futura-pt, sans-serif;
    margin-bottom: 0.3em;
}

h2 {
    font: 700 36px/30px futura-pt-bold, sans-serif;
    margin-bottom: 1em;
}

h3 {
    font: 500 36px/30px futura-pt, sans-serif;
    margin-bottom: 0.4em;
}

p {
    font: 400 22px/30px adobe-garamond-pro, serif;
    width: 80%;
    margin-bottom: 2.1em;
}

p.title {
    font: 500 30px/40px futura-pt, sans-serif;
    margin-bottom: 3.5em;
    width: unset;
}

body {
    min-width: 1000px;
    max-width: 1440px;
    margin: 24px auto 100px auto;
    padding: 0 3.7% 0 8%;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .left {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 75%;
    max-width: 722px;
    min-width: 682px;
}

.link {
    display: inline-block;
    margin-left: 4px;
}

.link.selected {
    background-color: #9cd3ce;
    padding: 1px 11px 2px 5px;
}

main {
    padding-right: 8.2%;
}

.top-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.two-column {
    display: flex;
    justify-content: space-between;
}

.two-column .column {
    max-width: 561px;
    width: 48%;
}

.info-block img {
    margin-bottom: 18px;
}

.info-block p {
    width: unset;
    margin-bottom: 4.2em;
}

.items {
    margin: 55px 0 84px 0;
}

.item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-link .text {
    margin-top: 23px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 155px;
}

footer .link:first-child {
    margin-left: unset;
}
